---
import PageLayout from "@/layouts/Base.astro";
import SocialList from "@/components/SocialList.astro";
export const prerender = true;

const meta = {
	description: "Flag64Zhang",
	// 修改：关于
	title: "关于",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-8">关于</h1>

	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			某大学信息管理本科生
		</p>
		<p>
			爱好东方、mc、音mad、番剧、鉴证（划掉
		</p>
		<p>
			电影/阅读/学习狂热者
		</p>
		<p>
			在这个网站中，你会看到我对书籍、文章、电影等的摘录和思考。每一篇札记都是一次知识的积累，记录着我在学习过程中的收获与感悟。
		</p>
		<p>
			随笔与札记，一个记录生活，一个记录知识。它们是我与世界对话的方式，也是我与自己对话的桥梁。希望这些文字能够带给你一些启发，或者至少让你感受到一丝共鸣。
		</p>
	</div>
	<div>
		<SocialList />
	</div>
</PageLayout>
